body {
  background-image: linear-gradient(
    to right,
    rgb(219, 177, 238),
    rgb(170, 245, 245)
  );
}
h1 {
  font-size: 3em;
  color: rgb(250, 125, 0);
}
ol {
  border: 2px solid rgb(250, 125, 0);
  display: inline-block;
  padding: 3em;
}
ol li {
  font-size: 1.5em;
}
.amir {
  border: 1px solid green;
  background-color: blue;
  border-radius: 15px;
}
.chyngyz {
  border: 0;
  border-radius: 7px;
  background-color: rgb(5, 5, 131);
  color: white;
  padding: 5px;
  text-decoration: underline;
}
.custom_name{
  color: rgb(0, 0, 0);
  background: powderblue;
  padding: 5px;
  width: 260px;
  border-radius: 10px;
  border: 3px solid lemonchiffon;
  text-align: center;
}
.zulaika {
  border: 1px solid red;
  border-radius: 15px;
  background-color: rgb(149, 201, 149);
  color: blueviolet;
  padding: 10px;
  text-decoration: underline;
}

.erbol {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

.erbol li {
  background-color: coral;
  padding: 10px;
  border-radius: 10px;
}